html {
	scroll-behavior: smooth;
}
body {
		margin: 0px !important;
		padding: 0px !important;
		width: 100% !important;
		display: block !important;
		background: #ffffff;
	}

	/* HEADER CSS */
	.cs-header {
	    position: relative;
	    display: block;
	    padding: 20px !important;
	    box-shadow: 0px 3px 30px 0px #fad74445;
	}
	.cs-header .cs-flex-box {
		padding: 0px;
	}
	.cs-name p {
		font-family: Poppins;
		font-size: 32px;
		font-weight: bold;
		text-align: left;
		margin: 0px !important;
	}
	.cs-contact p {
		font-family: Poppins;
		font-size: 16px;
		font-weight: bold;
		text-align: right;
		margin: 0px !important;
	}
	.cs-header a {
		transition: 0.8s;
		text-decoration: none;
	}
	.cs-header a:hover {
		transition: 0.8s;
		color: #ffffff !important;
	}
	.cs-header span.cs-icons {
	    font-size: 18px;
	    margin: 10px;
	}
	.cs-sep {
		margin: 0px 5px 0px 10px;
	}


	/* FOOTER CSS */
	.cs-footer {
		display: block;
		padding: 25px 20px 20px 20px !important;
	}
	.cs-footer p {
		font-family: Poppins;
		text-align: center;
		margin: 10px auto !important;
	}
	span.cs-icons {
	    font-size: 28px;
	    margin: 10px;
	    transition: 0.8s;
	}
	.cs-footer a {
		transition: 0.8s;
		text-decoration: none;
	}
	.cs-footer a:hover {
		transition: 0.8s;
		color: #2473b9 !important;
	}
	.cs-footer h3 , .cs-footer p {
		margin: 0px !important;
	}

	/* Font CSS */
	* { font-family: Poppins, sans-serif; }
	h1,h2,h3,h4,h5,p {margin: 0px;}
	h1 {font-size: 62px; margin: 0px 0px 15px 0px;}
	h1 span { font-size: 38px; font-weight: normal; }
	h2 {font-size: 52px; margin: 0px 0px 15px 0px;}
	h2 span { font-size: 34px; font-weight: normal; }
	h3 {font-size: 34px; margin: 0px 0px 15px 0px;}
	h4 {font-size: 24px; margin: 0px 0px 15px 0px;}
	p {font-size: 18px; margin: 0px 0px 15px 0px;}
	.cs-light { color: #ffffff;  }
	.cs-dark { color: #202020;  }
	.cs-primary { color: #2473b9 ;  }
	.cs-secondary {  color: #4a95d7; }
	.cs-tertiary { color: #003869;  }

	/* Container CSS */
	.bg-light {	background: #ffffff; }
	.bg-light-2 { background: #f4f4f4; }
	.bg-medium { background: #4a95d7; }
	.bg-medium-dark { background: #2473b9; }
	.bg-dark { background: #003869;	}

	.cs-container {
		padding: 80px;
	}
	.cs-container-0 {
		padding: 0px;
	}
	.cs-content {
		width: 100%;
		max-width: 1280px;
		margin: 0px auto;
	}
	.cs-flex {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.cs-flex-box {
		flex: 2;
		padding: 25px;
	}
	.cs-flex-spacer {
		width: 20px;
		height: 20px;
	}
	.cs-flex-box img {
		max-width: 100%;
	}


	/* HERO CSS */
	.cs-hero {
	    background: #ffffff;
	    padding: 40px 40px 0px 40px;
	}
	.cs-hero .cs-flex {
	    max-width: 1280px;
	    width: 100%;
	    margin: 0px auto !important;
	    /* align-items: flex-start; */
	}
	.cs-flex {
	    display: flex;
	    align-items: center;
	}
	.cs-hello {
		font-size: 74px;
		line-height: 120px;
	}
	.cs-hero h1 {
	    margin-bottom: 0px;
	    line-height: 40px;
	}
	.cs-hero p {
		margin-top: 15px;
		font-size: 24px;
		line-height: 1.7;
	}
	.cs-hero-container {
		text-align: left;
	}

	/* SERVICES BOX */
	.cs-container-0.cs-container-services.bg-light-2 {
	    position: relative;
	    height: 300px;
	}
	.cs-container-services .cs-floating {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    margin-top: -50px;
	}
	.cs-container-services .cs-flex-box {
		padding: 0px !important;
	}
	.cs-services {
	    box-shadow: 0px 5px 20px #00000030;
	    margin: 10px;
	    text-align: center;
	}
	.cs-service-main {
		padding: 20px;
	}
	.cs-services h4 {
		margin-bottom: 10px;
		color: #ffffff;
	}
	.cs-services p {
		color: #ffffff;
		margin: 0px;
	}
	.cs-service-desc {
		margin-top: 35px !important;
	}
	.cs-service-btn {
		display: block;
		width: 100%;
		height: 60px;
		border: 0px;
		background: #ffffff;
		font-size: 18px;
		font-weight: bold;
		transition: 0.8s;
		margin-bottom: -1px;
	}
	.cs-service-btn:hover {
		cursor: pointer;
		transition: 0.8s;
		color: #fef5e6;
		background: #003869;
	}

	/* FIND EBLASTS STYLE */
	.cs-mockups {
		flex-wrap: wrap;
		margin-bottom: 25px;
	}
	.cs-flex.cs-mockups .cs-flex-box {
	    padding: 10px !important;
	    margin: 0px;
	    flex-basis: 18%;
	    max-width: 18%;
	}
	.cs-mockups img {
		height: 230px;
		width: 230px;
		box-shadow: 0px 5px 10px #0000005e;
		transition: 0.8s;
	}
	.cs-mockups img:hover {
		box-shadow: 0px 5px 10px #000000a3;
		filter: unset;
		transition: 0.8s;
	}
	.cs-eblasts .cs-flex-box {
		height: 330px !important;
	}
	.cs-eblasts img{
		object-fit: cover;
		object-position: top center;
		height: 330px !important;
	}
	button.cs-btn-site:hover {
	    background: #4a95d7;
	    transition: 0.6s;
	}
	button.cs-btn-site {
		width: 100%;
	    padding: 20px;
	    font-size: 18px;
	    font-weight: bold;
	    color: white;
	    background: #2473b9;
	    box-shadow: 0px 5px 10px #30303073;
	    border: none;
	    cursor: pointer;
	    transition: 0.6s;
	}
	button.cs-btn-er:hover {
	    background: #4a95d7;
	    transition: 0.6s;
	}
	button.cs-btn-er {
		width: 100%;
	    padding: 20px;
	    font-size: 18px;
	    font-weight: bold;
	    color: white;
	    background: #2473b9;
	    box-shadow: 0px 5px 10px #30303073;
	    border: none;
	    cursor: pointer;
	    transition: 0.6s;
	}


	/* FIND WEB STYLE */
	.cs-flex.cs-websites .cs-flex-box {
		padding: 10px !important;
	    margin: 0px;
	    flex-basis: 30%;
	    max-width: 30%;
	}
	.cs-websites img {
		object-fit: cover;
		object-position: top center;
		width: 100%;
		height: 400px !important;
	}
	.cs-websites img:hover {
		box-shadow: 0px 5px 10px #000000a3;
		filter: unset;
		transition: 0.8s;
	}

	@media only screen and (max-width:  1000px) {
		/* HERO RESPONSIVE */
		.cs-flex {
		    display: flex;
		    align-items: center;
		    flex-direction: column;
		}
		.cs-banner-text {
			text-align: center;
			padding-top: 10px;
			padding-bottom: 0px;
		}
		.cs-flex-box.cs-banner-image {
			padding-top: 0px;
			padding-bottom: 0px;
			margin-bottom: -25px;
		}
		.cs-flex.cs-mockups .cs-flex-box {
	    flex-basis: 100%;
	    max-width: 100%;
	}
		/* SERVICES RESPONSIVE */
		.cs-container-services .cs-flex {
		    display: flex;
		    align-items: center;
		    flex-direction: unset;
		    flex-wrap: wrap;
		    justify-content: center;
		}
		.cs-services {
			flex-basis: 50%;
		}
		.cs-container-0.cs-container-services.bg-light-2 {
		    position: relative;
		    height: 350px;
		}
		.cs-container-services .cs-flex-box {
		    flex: unset;
		    max-width: 300px;
		    padding: 0px !important;
		    flex-basis: 40%;
		}
	}


@media only screen and (max-width:  700px) {
	h1,h2,h3,h4,h5,p {margin: 0px;}
	h1 {font-size: 42px; margin: 0px 0px 15px 0px;}
	h1 span { font-size: 28px; font-weight: normal; }
	h2 {font-size: 34px; margin: 0px 0px 15px 0px;}
	h2 span { font-size: 26px; font-weight: normal; }
	h3 {font-size: 34px; margin: 0px 0px 15px 0px;}
	h4 {font-size: 24px; margin: 0px 0px 15px 0px;}
	p {font-size: 18px; margin: 0px 0px 15px 0px;}
	.cs-name p , .cs-contact p {
		text-align: center !important;
	}
	.cs-hero {
	    background: #ffffff;
	    padding: 30px 0px 0px 0px;
	}
	.cs-container {
	    padding: 30px;
	}
	.cs-container-0.cs-container-services.bg-light-2 {
		height: unset !important;
		padding:  30px 30px 10px 30px;
			}
	.cs-container-services .cs-floating {
	    position: relative;
	    top: unset;
	    left: unset;
	    transform: unset;
	    margin-top: 0px;
	}
	.cs-container-services .cs-flex {
	    display: flex;
	    align-items: center;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: center;
	}
	.cs-container-services .cs-flex-box {
	    flex: unset;
	    max-width: 100%;
	    padding: 0px !important;
	    flex-basis: 100%;
	}

	/* MOCKUPS MOBILE */
	.cs-flex.cs-mockups .cs-flex-box {
	    flex-basis: 100%;
	    max-width: 100%;
	}
	.cs-mockups img{
		width: unset;
	}
}
